.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 2px;
  height: 30px;

  .color-picker {
    position: absolute;
    z-index: 15;
    top: 8px;
  }
  
  .color-box {
    border: 1px solid black;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .border-box {
    border: 1px solid black;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .border__container {
    position: absolute;
    width: 300px;
    top: 0;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 10px 10px 24px -3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 10px 24px -3px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 10px 24px -3px rgba(0, 0, 0, 0.49);
  
    .slider__title {
      margin: 0;
    }
  
    .sliders {
      padding: 20px;
    }
  
    .border__slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  
    .slider__value {
      height: 25px;
      width: 25px;
    }
  }

  .font-size {
    input {
      width: 40px;
      text-align: center;
    }

  }

  .icon-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: 0.3s;
    border-radius: 2px;
  }

  .icon-box:hover {
    background-color: #e1e4e7;
  }

  .icon-box.chosen {
    background-color: #e1e4e7;
  }

}

