.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 30px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .navbar__logo img {
    cursor: pointer;
  }

  .navbar__links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }


  .navbar__links_item {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .navbar__links_button {
    cursor: pointer;
    border-radius: 20px;
    background: #FF891B;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 36px;
  }

  .navbar__links_share {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;


    border-radius: 20px;
    background: #EE7A7A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    width: 150px;
    height: 40px;
  }

}


.logged-in {
  background: #5E6781;
}